/* BODY */
body {
  background-color: #517cda;
}
/* AKHIR BODY */

/* NavBar */
.color-nav {
  background-color: #1950c9;
}
/* Akhir NavBar */

/* About Us */
.warna-about {
  background-color: #bbbcc0;
}
/* Akhir About Us */
